.minersPage {
  padding-bottom: 4rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem 4rem 1rem;
}

.minerStatsTable {
  max-width: 65rem;
  outline: none;
  margin: auto;
}

.minersPage .payments__title {
  padding-top: 3rem;
}